/* .btn {
	display: block;
	font-size: 16px;
	line-height: 16px;
	color: #444;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #444;
	width: 100%;
	padding: 17px 0;
	text-align: center;
} */