.card {
	position: relative;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  padding-top: 16px;
  
  &__mark {
  	display: inline-block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background: grey;
    margin: 0 10px 16px 0;	
    
      &:first-child {
      	margin-left: 16px;
			
      }

    &--red {
      background: #df5b5b;
    }    

    &--yellow {
      background: #f1c752;
    }

    &--green {
      background: #8edc87;
    }
  }

  &__text {  	
  	font-size: 16px;
  	color: #424a59;
  	margin: 0 0 16px 16px;

  	&-small {

  		font-size: 12px;
			color: #667081;

			&--progress {
				position: absolute;
				bottom: 70px;
				right: 28px;
			}
  	}
  }

  &__gallery {
  	margin: 0 0 16px 16px;
  }

  &__progress {
  	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: auto;
    border: none;
    width: 184px;
    height: 4px;
    margin: 0 0 16px 16px;
    position: relative;

    &::-webkit-progress-bar {
      background: #e7e9ee;
      border-radius: 2px;
    }

    &::-webkit-progress-value {
      background: #8ddc86;
      border-radius: 2px;
    }	
  }

  &-footer {
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
  	align-items: center;
  	border-top: 1px solid #e3e6ed;
  	padding: 15px 0 15px 5px;

  	&__comment {
  		width: 24px;
  		height: 24px;
  		fill: #7db6fd;
  		margin: 0 7px 0 16px;
  		-webkit-transform: scaleX(-1);
  		-moz-transform: scaleX(-1);
  		-o-transform: scaleX(-1);
  		transform: scaleX(-1);
  	}

  	&__clip {
  		width: 24px;
  		height: 24px;
  		fill: #df5c5c;
  		margin-right: 10px;
  	}
  }
}

.gallery__img {

	&:first-child {
		margin-right: 25px;
	}
}