.page-main {
  display: flex;
  flex-direction: column;
  background: #f2f5f9;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.column {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 20px;
    margin-bottom: 10px;

    &__title {
      flex-grow: 1;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #424a59;
      text-transform: uppercase;
    }

    &__link {
      height: 24px;
    }

    &__img {
      width: 24px;
      height: 24px;
      fill: #424a59;

      &:hover {
        fill: #8ddc86;
        height: 30px;
      }
    }  
  }
}

@media screen and (min-width: 1024px) {
  .page-main {
    position: relative;
    flex-direction: row;
  }

  .main-content {
    flex-direction: row;
    height: calc(100vh - 67px);
    overflow-x: scroll;
    overflow-y: hidden;
  }  

  .column {
    width: 262px;
    margin: 30px 0 0 30px;

    &-header {
      height: 70px;
      background: #208abe;

      &__title {
        font-family: 'Rubik', sans-serif;
        font-size: 12px;
        font-weight: 500;      
        color: #fff;
      }

      &__img {
        fill: #fff;
      }
    }

    &:first-child {
      margin-left: 90px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .main-content {
    width: calc(100% - 255px);
  }

  .column {
    &:first-child {
      margin-left: 30px;
    }
  }
}