.page-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  background: #2d323e;
}

.header {

  &-toggle {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  padding: 0 24px;
  
    &__text {
      font-family: 'Roboto', sans-serif;
    	color: #fefefe;
      margin: 0;

      &--do {
        margin-left: 20px;
      }
    }

    &__img {
      width: 24px;
      height: 24px;
      fill: #fefefe;
    }
  }

  &-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
  }  

  &__bell {
    position: relative;

    &-img {
      position: relative;
      width: 24px;
      height: 24px;
      fill: #5e6a80;
      margin-right: 20px;
    }

    &:after {
      content: '2';
      position: absolute;
      top: 0;
      right: 18px;
      width: 14px;
      height: 13px;
      background: #e2715c;
      border-radius: 2px;
      font-size: 10px;
      color: #fff;
      padding: 1px 0 0 4px;
    }
  }
}

.user {
  display: none;
}

@media screen and (min-width: 1024px) {
  .page-header {
    background: #fff;
  }

  .header {
    &-toggle {
      justify-content: center;
      width: 76px;
      background: #373c47;
      border-bottom: 1px solid #292d38;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 
              0 0 4px rgba(0, 0, 0, 0.12);
      padding: 0;

      &__text {
        font-size: 0;
      }
    }

    &-content {
      padding-right: 70px;
      border-bottom: 1px solid #d9dce3;
    }
  }

  .user {
    display: block;
    outline: none;

    &::-webkit-details-marker {
      display: none;
    }
    
    &__toggle {
      width: 24px;
      height: 24px;
      fill: #5e6a80;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    &-toggle {
      width: 255px;

      &__text {
        font-size: 16px;
      }
    }  
  }  
}